<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
<!-- chartist -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    </head>

<body>

<div class="section">
  <div class="container">
    <div class="row">

<!-- Chart 1 -->
      <div class="col-md-6">

        <div  class="ct-chart ct-square" id="SEM_5"></div>

      </div>

<!-- Chart 2 -->
      <div class="col-md-6">

        <div  class="ct-chart ct-square" id="SEM_6"></div>

      </div>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">

    <div class="row">

<!-- Chart 3 -->
      <div class="col-md-6">

        <div  class="ct-chart ct-square" id="SEM_7"></div>

      </div>


<!-- Chart 4 -->
      <div class="col-md-6">

        <div  class="ct-chart ct-square" id="SEM_8"></div>

      </div>

    </div>
  </div>
</div>

</body>

<script>
new Chartist.Bar('#SEM_5', {
  labels: {{ sem5sub|safe }},
series: [{{  sem5ext|safe }}, {{ sem5sub|safe }}]
  }, {
  reverseData: true,
  horizontalBars: true,
axisY: {
  offset: 120
}

});
</script>
<script>
new Chartist.Bar('#SEM_6', {
  labels: {{ sem6sub|safe }},
series: [{{  sem6ext|safe }}, {{ sem6sub|safe }}]
  }, {
  reverseData: true,
  horizontalBars: true,
axisY: {
  offset: 120
}

});
</script>
<script>
new Chartist.Bar('#SEM_7', {
  labels: {{ sem7sub|safe }},
series: [{{  sem7ext|safe }}, {{ sem7sub|safe }}]
  }, {
  reverseData: true,
  horizontalBars: true,
axisY: {
  offset: 120
}

});
</script>
<script>
new Chartist.Bar('#SEM_8', {
  labels:{{  sem8sub|safe }},
series: [{{ sem8ext|safe }},{{ sem8int|safe }}]
  }, {
  reverseData: true,
  horizontalBars: true,
axisY: {
  offset: 120
}

});
</script>


</html>
